db/
incremental_db/
simulation/
timing/
output_files/
greybox_tmp/
qdb/
cdb/

*.rpt
*.summary
*.qws
*.qsf
*.qpf

*.map.*
*.fit.*
*.asm.*
*.sta.*

*.bak
*.tmp
*.swp
*.swo
*.log
*.qarlog

.DS_Store
Thumbs.db
.vscode/
.idea/

work/
transcript
vsim.wlf

ip/
.ip/